<!DOCTYPE html>
<html>
<head>
    <link href="/stylesheets/reset.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/grid.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/syntax.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
    <title>{{ page.title }} - Rchart</title>
</head>
<body>
<div class="container_16 every-thing">
    <div class="header">
        <div class="grid_16">
            <div class="login-bar-left"><h1>Rchart</h1></div>
        </div>
    </div>

    <div class="main-nav">
        <ul>
            <li><a title="Home" href="/">Home</a></li>
            <li><a title="Home" href="/rchart">Rchart</a></li>
            <li><a title="Pie Chart" href="/rchart/pie_chart.html">Pie Chart</a></li>
            <li><a title="Bar Chart" href="/rchart/bar_chart.html">Bar Chart</a></li>
            <li><a title="Bar Chart" href="/rchart/bar_chart.html">Bar Chart</a></li>
            <li><a title="Cubic Curve" href="/rchart/cubic_chart.html">Cubic Curve</a></li>
        </ul>
    </div>

    <div id="wrapper">
        <div id="content" class="grid_16">
            {{ content }}
        </div>

        <div class="clear"></div>
        <div class="push"></div>

        <div class="clear"></div>
    </div>

    <div class="clear"></div>
</div>
<div class="clear"></div>
<div  class="container_16">
    <div id="footer">
        <script type="text/javascript" src="/javascripts/jquery.js"></script>
        <script type="text/javascript" src="/javascripts/application.js"></script>
        <p class="copytight">&copy; 2010 <a href="http://raistech.com">Amar Daxini</a></p>
    </div>
</div>
</body>
</html>
